@import "src/assets/styles/helpers/utils";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 28px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  color: $white;
  background-color: $primary;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s linear;

  &:hover,
  &:focus {
    background-color: rgba($primary, 0.8);
  }
}