@import "src/assets/styles/helpers/utils";

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 4px 6px 0 $gray-100;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
  }

  &_plus {
    &::before {
      background-color: $plus;
    }
  }

  &_minus {
    &:before {
      background-color: $minus;
    }
  }
}